<div class="results">
  <div class="container-fluid dish_result">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dish_filter">
        <ul class="filter">
          <li>Filter</li><%= render 'form' %>
        </ul>
        <div class="range">
          <div class="col-lg-2 col-md-2 label">
           <p><%= @all_dishes_count %> RESULTS</p>
          </div>
          <div class="col-lg-10 col-md-10 col-xs-12 in_parts">
            <%= render 'slider' %>
          </div>
        </div>
        <div class="dish_list"> 
          <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 search_list">
            <div id="result_div">
              <%= render "dishes/list",dishes: @dishes %>
           </div>
         </div>
       </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my_map">
       <div class="map_size" style='height:450px; width:auto; padding: 20px;'>
         <div id="map"></div>
       </div>
     </div>
   </div>
 </div>
</div>




      